body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#submit-form{
  text-align: center;
}

#submit-form label{
  text-align: left;
}

.todo-list h1{
  color: #0ec359;
}

.todo-list form{
  margin-top: 50px;
}

.todo-list label{
  margin-right: 20px;
}

.main-container{
  padding-top: 50px;
}

.home{
  padding-top: 50px;
}

.home .card img{
  position: absolute;
  top: 0px;
  left: -100px;
  opacity: 0.6;
  width: 150px;
}

.home .card{
  overflow: hidden;
}